.formpage {
    /* background-color: brown;  */
    height: 700px;
    width: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 25%;
    margin-right: auto; 
    margin-top: 15px; 
    background-image:url('https://hdclipartall.com/images/free-brown-clipboard-clip-art-clipboard-clipart-462_597.png');
    background-repeat: no-repeat;
    position: relative;
}

.formcontent {
    width: 50%;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    padding: 50px; 
    background-color: white;
    /* margin: 25%  */
}
