.homepagecontainer {
  height: 500px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
}

.mapcontainer {
  display: flex;
  justify-content: flex-end;
}

.distanceresponse {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.distancecard {
  padding: 2px 16px;
  margin: 7px;
  background-color: white;
}
